venv
db.sqlite3
test_app/migrations/*
!test_app/migrations/__init__.py
.idea
__pycache__/
test_app/__pycache__/
test_app/migrations/__pycache__/
info.log
error.log
debug.log
.env
config.json
Profiat-GramDesk-Priv.pem
Profiat-GramDesk-Pub.pem
dt_reviews.csv
123.pdf
labeled.csv
posts.csv